/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Variables */

/* Reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
img {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}

/* Fonts */
html {
  font-size: 16px;
}
@font-face {
  font-family: poppinsRegular;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: poppinsBold;
  src: url(fonts/Poppins-SemiBold.ttf);
}

/* Mobile Styles */

body {
  color: undefined;
  background-color: #fafafa;
}
.page__container {
  padding: 5em 2em;
  padding-bottom: calc(5em + 50px);
}
.header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
}
.header__heading,
.header__subheading {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.17px;
}
.header__heading {
  font-family: poppinsLight;
}
.header__subheading {
  font-family: poppinsBold;
  margin-bottom: 0.5em;
}
.header__text {
  font-family: poppinsRegular;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.1px;
  opacity: 0.5;
  margin-bottom: 75px;
}
.card__container {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 311px;
  grid-template-columns: 311px;
  gap: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.card {
  width: 100%;
  background-color: #ffffff;
  height: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.75em;
  border-radius: 10px;
  border-top: 5px solid transparent;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.card:first-of-type {
  border-color: #44d3d2;
}
.card:nth-of-type(2) {
  border-color: #ea5454;
}
.card:nth-of-type(3) {
  border-color: #fcae4a;
}
.card:nth-of-type(4) {
  border-color: #549ef2;
}
.card__heading {
  font-family: poppinsBold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}
.card__text {
  font-family: poppinsRegular;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.09px;
  opacity: 0.5;
}
.card__img {
  width: 57px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body {
  position: relative;
}


footer {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em 0;
}

.attribution { 
  font-size: 12px; text-align: center; 
  margin: 0 auto;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
  text-decoration: none; 
}


/* Tablet Styles */
@media all and (min-width: 768px) {
  .card__container {
    -ms-grid-columns: 500px;
    grid-template-columns: 500px;
  }
  .card {
    max-width: 350px;
  }
  .card:first-of-type {
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .card:nth-of-type(2) {
    -ms-grid-column-align: right;
        justify-self: right;
  }
  .card:nth-of-type(3) {
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .card:nth-of-type(4) {
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

/* Desktop Styles */
@media all and (min-width: 1300px) {
  .header__heading,
  .header__subheading {
    font-size: 36px;
    letter-spacing: 0.25px;
    line-height: 54px;
  }
  .card {
    height: 250px;
  }
  .card__img {
    width: 64px;
  }
  .card__container {
    -ms-grid-columns: (350px)[3];
    grid-template-columns: repeat(3, 350px);
        grid-template-areas:
      "a b c"
      "a d c";
  }
  .card:first-of-type {
    grid-area: a;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .card:nth-of-type(2) {
    grid-area: b;
  }
  .card:nth-of-type(3) {
    grid-area: d;
  }
  .card:nth-of-type(4) {
    grid-area: c;
    -ms-grid-row-align: center;
        align-self: center;
  }
}
@media all and (min-width: 1300px) {
  .card:first-of-type {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }
  .card:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .card:nth-of-type(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .card:nth-of-type(4) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }
}